    <hr style="margin: 20px 0px 20px 0px;" />
    <small>
      <a href="/suggestions?referringUrl=<%= data.currentUrl %>" target="_blank">
        Make Site Suggestion
      </a>
    </small>
  </main>
</body>