<body>
  <header>
    <h1 id="logo">FWL</h1>
    
    <% if (data.authUser) { %>
      Welcome <strong><%= data.authUser.first_name %></strong> - <a href="/logout">Logout</a>
    <% } %>
  </header>
  
  <nav>
    <ul>
      <% if (data.authUser) { %>
        <li><a href="/home">Profile</a></li>
        <li><a href="/collections">Collections</a></li>
      <% } %>
    </ul>
  </nav>

  <main>