<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Family Wish List</title>
</head>

<%- include('../partials/header') %>

<p>
  Hello World
</p>

<%- include('../partials/footer') %>