<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>FWL - Suggestions</title>
</head>

<body>
  <main>
    <p>
      Thanks for the suggestion!
    </p>
    
    <a href="javascript:window.close();">Close Window</a>
  </main>
</body>